@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');


body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.container{
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content{
    text-align: center;
    background-color: #f0efef;
    padding: 2em;
    border-radius: 10px;
    max-width: 400px;
}

.logo{
    width: 200px;
    object-fit: contain;
}

h1{
    color: #333;
    margin-bottom: 20px;
    font-family: Bitcount Grid Double Ink;
    font-size: 50px;
}

p{
    color: #666;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;

}
input[type="email"]{
    margin-bottom: 20px;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

button{
    padding: 0.5rem;
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out
}

button:hover{
    background-color: #000;
}

