<%- include("header"); -%>

<h2>  This is the about page </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae non temporibus inventore quae dolores saepe ducimus vero, quidem fuga!</p>

<%- include("footer"); -%>